/* Main Body */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: normal;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/yYRnAC2KygoXnEC8IdU0gQLUuEpTyoUstqEm5AMlJo4.ttf) format('truetype');
}
	@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: bold;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/k3k702ZOKiLJc3WVjuplzMDdSZkkecOE1hvV7ZHvhyU.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: normal;
	src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/O4NhV7_qs9r9seTo7fnsVCZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: bold;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v7/PRmiXeptR36kaC0GEAetxrQhS7CD3GIaelOwHPAPh9w.ttf) format('truetype');
}

@page {
	margin-top: 2mm;
	margin-bottom: 3cm;
	margin-left: 5mm;
	margin-right: 5mm;
}
body {
	background: #fff;
	color: #000;
	margin: 0cm;
	font-family: 'Open Sans', sans-serif;
	font-size: 7pt;
}

h1,
h2,
h3,
h4 {
	font-size: 8pt;
	font-weight: bold;
	margin: 0;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li,
ul {
	margin-bottom: 0.1em;
}

p {
	margin: 0;
	padding: 0;
}

p + p {
	margin-top: 0.1em;
}

a { 
	border-bottom: 1px solid; 
	text-decoration: none; 
}

/* Basic Table Styling */
table {
	border-collapse: collapse;
	border-spacing: 0;
	page-break-inside: always;
}

th, td {
	vertical-align: top;
}

table.container {
	width:100%;
	border: 0;
}

tr.no-borders,
td.no-borders {
	border: 0 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	padding: 0 !important;
	width: auto;
}

/* Header */
td.header img {
	max-height: 1cm;
	width: auto;
}

td.header {
	font-size: 10pt;
	font-weight: 600;
}

td.header,
td.shop-info {
	margin-bottom: 5mm !important;
}

td.shop-info {
	width: 40%;
}
/* Recipient & order information */
.document-type-label {
/*	text-transform: uppercase; */
}

.order-date-label,
.order-number-label,
.order-payment-label {
	width: 4cm;
	display: inline-block;
}

/* Order details */

table.order-details {
	width:100%;
	margin-top: 1mm;
	margin-bottom:1mm;
}

.quantity-label,
.price-label {
	width: 20%;
}

.order-details tr {
	page-break-inside: always;
	page-break-after: auto;	
}

.order-details td,
.order-details th {
	border-bottom: 1px #ccc solid;
	padding: 0.1em;
}

.order-details th {
	font-weight: bold;
	text-align: left;
}

.order-details thead th {
	color: white;
	background-color: black;
	border-color: black;
}

.order-details .description img {
	width: 1.5cm;
	height: auto;
}

table.product,
table.product td {
	margin: 0;
	border: 0;
	padding: 0;
}

table.product td.product-image {
	padding-right: 10px;
}


dl {
	margin: 4px 0;
}

dt, dd, dd p {
	display: inline;
	font-size: 7pt;
}

dd {
	margin-left: 5px;
}

dd:after {
	content: "\A";
	white-space: pre;
}

/* Totals */
table.totals {
	width: 100%;
	margin-top: 3mm;
}

table.totals th,
table.totals td {
	border: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.totals th.description,
table.totals td.price {
	width: 100%;
}

table.totals tr:last-child td,
table.totals tr:last-child th {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-weight: bold;
}

table.totals td.price span:first-child {
	display: block;
}

/* Footer Imprint */
#footer {
	position: absolute;
	bottom: -2cm;
	left: 0;
	right: 0;
	height: 2cm; /* if you change the footer height, don't forget to change the bottom (=negative height) and the @page margin-bottom as well! */
	text-align: center;
	border-top: 0.1mm solid gray;
	margin-bottom: 0;
	padding-top: 2mm;
}

/* Shipping Label Invoice */

.shipping-label {
	width:100%;
	position: fixed;
	bottom: -2cm;
	left: 0;
	right: 0;
	height: 7cm; /* if you change the footer height, don't forget to change the bottom (=negative height) and the @page margin-bottom as well! */
	border-top: 1mm dotted gray;
	margin-bottom: 0;
	padding-top: 1cm;
	display:block;
}

.shipping-label p {
padding-left:4em;
font-weight:700;
font-size:16px !important;
}

.shipping-label img {
padding-left:3cm;
}

.instructions {
width:80%;
padding-top:4mm;
padding-left:2.5cm;
}

.instructions p {
font-size:11px;
line-height:11px;
}

.instructions h4 {
font-size:13px;
font-weight:700;
line-height:13px;
}

.return-address {
font-size:8px;
color:#555555;
float:right;
}

/* Postage Pack Label (Packing slip)  */

.packing-label {
	width:100%;
	position: fixed;
	bottom: -2cm;
	left: 0;
	right: 0;
	height: 7cm; /* if you change the footer height, don't forget to change the bottom (=negative height) and the @page margin-bottom as well! */
	margin-bottom: 0;
	padding-top: 1cm;
	display:block;
}

.packing-label p {
padding-left:4em;
font-weight:700;
font-size:14px !important;
}

.their-address {
padding-left:0;
font-size:16px;
font-weight:bold;
}

.if-undelivered {
font-size:10px !important;
font-weight:400;
padding-top:3cm;
}